@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D0EDF5;
}

img {
    display: block;
    margin: auto;
    width: 30%;
    height: auto;
}

h1 {
    font-family: 'Single Day', cursive;
    font-size: 75px;
    text-align: center;
}

@media (max-width: 800px) {
    h1 {
        font-size: 35px;
    } 
    img {
        width: 50%;
        height: auto;
    }
    .submitButton {
        display: none;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 30px;
    } 
    img {
        width: 75%;
        height: auto;
    }
    .container {
        display: block;
    }
}

h2, h3 {
    font-family: 'Single Day', cursive;
}

h2 {
    font-size: 50px;
    color: rgb(105,105,105);
}

h3 {
    font-size: 25px;
    color: rgb(64,64,64);
    border-left: 3px solid #D0EDF5;
    padding-left: 15px;
    margin-bottom: 20px;
    
}

p {
    color: rgb(128,128,128);
    padding-bottom: 10px;
}

/*#more {
    display: none;
}

#myBtn {
    cursor: pointer;
    color: rgb(64,64,64);
}*/

.container {
    display: block;
    width: 50%;
    background-color: #fff;
    border-radius: 25px;
    padding: 20px;
    margin: auto;
}

.definitions {
    display: block;
    margin: 50px;
}

.search {
    font-family: 'Single Day', cursive;
    outline: none;
    border: none;
    border-bottom: 3px solid #D0EDF5;
    padding: 5px;
    font-size: 25px;
    font-weight: lighter;
    cursor: auto;
}

.submitButton {
    font-family: 'Single Day', cursive;
    color: rgb(64,64,64);
    cursor: pointer;
    background-color: #D0EDF5;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin-left: 25px;
    font-size: 25px;
}

.submitButton:hover {
    background-color: #9DD9F3;
}


.searchBar {
    display: flex;
    justify-content: center;
    margin: 20px;
}